$containerWidth: 940px;
$baseFontSize: 16px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$grey: #f5f5f5;
$midgrey:#b2b2b2;
$darkgrey: #666666;
$red: #e01f3d;
$darkred: #ca1b36;

//z-indexes
$z-fixed-menu: 100;

//media
@import "media";

//normalize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";

//setups
@import "https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap";

//layout
@import "layout";

//components
@import "components/hero.scss";
@import "components/header.scss";
@import "components/logo.scss";
@import "components/phone-number.scss";
@import "components/features.scss";
@import "components/feature.scss";
@import "components/btn.scss";
@import "components/section.scss";
@import "components/headline.scss";
@import "components/advantages-section.scss";
@import "components/advatnages.scss";
@import "components/advantage.scss";
@import "components/reviews-section.scss";
@import "components/reviews.scss";
@import "components/interactive-avatar.scss";
@import "components/order-section.scss";
@import "components/form.scss";
@import "components/radio.scss";
@import "components/fixed--menu.scss";
@import "components/hamburger.scss";
@import "components/map-section.scss";
@import "components/footer.scss";
@import "components/contacts.scss";
@import "components/socials.scss";
