.advantages {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.advantages__item {
  flex: 1;
  padding: 0 1%;
  position: relative;

  @include phones {
    padding: 0;
    margin-bottom: 2.4rem;
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
  
  &::before {
    @include tablets {
      display: none;
    }

    content: url("../img/decor/separator.png");
    position: absolute;
    top: 3.4375rem;
    right: 0;
    transform: translate(50%);
  }
}
