.close {
  display: none;
  position: absolute;
  transform: translate(-50%, 0);
  top: 2.5rem;
  right: 2.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.close::before, .close::after {
  content: "";
  display: block;
  background: #c2c2c3;
  width: 4px;
  height: 2.125rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}