.contacts {
  font-size: 1.125rem;

  @include tablets {
    font-size: 1.4rem;
  }

  @include phones {
    margin-bottom: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contacts__place {
  @include phones {
    margin-bottom: 1rem;
  }
}