.player {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 41.25rem;

  @include tablets {
    width: 95%;
  }

  @include phones {
    max-height: 21.07rem;
  }
}

.player__video {
  width: 100%;
}

.player__controls {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2.1875rem;
  background: #151515;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5625rem;
  width: 100%;

  @include phones {
    padding: 0 0.857rem;
  }
}

.player__main-start {
  background: url('src/img/icons/play.svg') center center no-repeat;
  width: 1.875rem;
  height: 2.875rem;
  outline: none;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: none;
  cursor: pointer;
  position: absolute;
}

.paused .player__main-start {
  opacity: 0;
  transition: .3s;
}

.player__start, .player__sound {
  background: url('src/img//icons/play.svg') center center no-repeat;
  width: 1rem;
  height: 1.375rem;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.muted::after {
  content: "";
  width: 3px;
  height: 1.875rem;
  background-color: #efebeb;
  transform: translate(-50%, -50%) rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 65%;
  border-radius: 28%;
}

.paused .player__start {
  background: none;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 5px;
    top: 0;
    bottom: 0;
    border-radius: 3px;
    background: #efebeb;
  }

  &::after {
    right: 0;
  }

  &::before {
    left: 0;
  }
}

.player__playback, .player__sound-bar {
  height: 1rem;
  width: 74%;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background: #303030;
    transform: translateY(-50%);
  }
}

.player__playback-btn, .player__sound-btn {
  background: $red;
  border-radius: 50%;
  border: none;
  width: 0.75rem;
  height: 0.75rem;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
  outline: none;
  cursor: pointer;
}

.player__sound-bar-colored, .player__playback-colored {
  background: $red;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.player__playback-colored {
  width: 0;
}

.player__sound-btn {
  left: 100%;
}

.player__sound {
  background: url('src/img/icons/volume.svg') center center no-repeat;
}

.player__sound-bar {
  width: 10%;
}

