.section {
  // height: 100vh;
  height: 100%;
  min-height: 40.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_theme_dark {
    color: #fff;

    .section__title {
      color: #fff;
    }
  }

  @include tablets { 
    font-size: 1.07rem;
  }

  @include phones {
    font-size: 1.14rem;
    justify-content: flex-start;
  }
}

.section__title {
  font-size: 3rem;
  font-weight: 700;
  margin: -0.25rem 0 2.0625rem;
  text-align: center;
  color: #000;
  text-transform: uppercase;

  @include tablets {
    font-size: 3.2rem;
    margin: -1.6rem 0 2.5rem;
  }

  @include phones {
    font-size: 2.57rem;
    margin: 4.3rem 0 1.8rem;
  }
}
