.table {
  display: none;
  background: #fff;
  border-radius: 7px;
  color: #000;
  padding: 1.5rem 1rem;
  max-width: 16.875rem;
  position: absolute;
  top: 0;
  left: 100%;
}

.table__item {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.table__icon {
  flex: 0 0 2.125rem;
  height: 2.125rem;
  margin-right: 1.25rem;

  &_charger {
    transform: rotate(90deg);
  }
}

.table__desc {
  flex: 1 1 auto;
}

.table__value {
  flex: 0 0 3.125rem;
}