.advantages-section {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid $red;
    position: absolute;
    bottom: 3px;
    left: 2.5%;
    transform: translate(50%, 50%) rotate(-16deg);
  }
}
