.advantages-section {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-bottom: 1.875rem solid $red;
    position: absolute;
    bottom: 0.1875rem;
    left: 2.5%;
    transform: translate(50%, 50%) rotate(-16deg);
    z-index: 2;

    @include tablets {
      left: 5.5%;
    }
  }
}
