.btn {
  display: inline-block;
  font-weight: 700;
  padding: 18px 41px;
  text-transform: uppercase;
  border-radius: 100px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  background: $red;
  cursor: pointer;
  border: none;
  font-size: 16px;

  &:hover {
    background: $darkred;
  }

  &_color_transparent {
    background: transparent;
    color: #999;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    margin-left: 19px;
    padding: 0;

    &:hover {
      color: $red;
      background: none;
    }
  }
}
