.form {
  display: flex;
  margin-top: -0.3125rem;
  font-size: 1.125rem;

  @include tablets {
    flex-direction: column;
    padding: 0 17.8%;
    font-size: 1.2rem;
    margin-top: -0.7rem;
  }

  @include phones {
    font-size: 1.14rem;
    padding: 0;
    margin-top: 2rem;
  }
}

.form__column {
  flex: 1;
  margin-right: 1.25rem;

  &:first-child {
    @include tablets {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-right: 0;

    @include tablets {
      margin-top: 0.7rem;
    }

    @include phones {
      margin-top: 0.9rem;
    }
  }
}

.form__row {
  display: flex;
  margin-bottom: 0.875rem;

  @include tablets {
    margin-bottom: 0.7rem;
  }

  @include phones {
    margin-bottom: 0.9rem;
  }

  &_controls {
    flex-direction: column;

    @include tablets {
      margin-top: 1rem;
    }

    @include phones {
      margin-top: 1.2rem;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__block {
  flex: 1;
  margin-right: 1.25rem;

  &:last-child {
    margin-right: 0;
  }
}

.form__title {
  margin-bottom: 0.375rem;

  @include tablets {
    margin-bottom: 0.45rem;
  }
}

.form__input {
  width: 100%;
  padding: 1.125rem 0.6875rem;
  border: solid 2px transparent;

  @include tablets {
    padding: 0.4rem 0.6875rem;
  }

  @include phones {
    padding: 0.5rem;
  }

  &_textarea {
    height: 11.25rem;
    resize: none;

    @include tablets {
      height: 5.3rem;
    }

    @include phones {
      height: 5.8rem;
    }
  }

  &:focus {
    outline: none;
    border-color: $red;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.375rem;
  margin-top: -0.125rem;

  @include tablets {
    margin-bottom: 0.5rem;
    margin-top: -0.125rem;
  }

  @include phones{
    justify-content: center;
    margin-bottom: 1rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__btns {
  margin-top: 2.6875rem;

  @include tablets {
    display: flex;
    justify-content: center;
  }
}
