.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @include tablets {
    align-items: center;
  }
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}

.navigation {
  margin: 0 1.875rem;
  padding-top: 0.3125rem;
  
  @include tablets {
    display: none;
  }

  &_fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #313436;
    z-index: 10;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 2.4rem;

    @include phones {
      font-size: 2.57rem;
    }

    .navigation__list {
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    .navigation__item {
      margin: 0 0 3rem;

      &:last-child {
        margin: 0;
      }
    }

    .navigation__close {
      display: block;
      position: absolute;
      transform: translate(-50%, 0);
      top: 2.5rem;
      right: 2.5rem;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }

    .navigation__close::before, .navigation__close::after {
      content: "";
      display: block;
      background: #c2c2c3;
      width: 4px;
      height: 2.125rem;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .navigation__close::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.navigation__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0.5rem;
}

.navigation__item {
  margin-right: 1.5625rem;
  margin-bottom: 0.625rem;

  &:last-child {
    margin-right: 0;
  }
}

.navigation__link {
  text-decoration: none;
  white-space: nowrap;

  &:hover {
    color: $red;
    transition: 0.3s;
  }
}


