.modal {
  display:none;

  &.error-modal {
    .modal__content {
      color: red;
    }
  }

  &.fancybox-content {
    padding: 0 !important;
  }

  .fancybox-button {
    display: none;
  }
}

.modal__container {
  background: #fff;
  padding: 35px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-error {
  border-color: blue;
}

.modal__content {
  margin-bottom: 15px;
  color: #000;
}