.slider-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: $grey;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 1.75rem;
    height: 1.75rem;
    background-color: #000;
    bottom: -0.5rem;
    left: 90.4%;
    transform: translate(50%, 50%) rotate(30deg);

    @include tablets {
      bottom: -0.3rem;
      left: 88.2%;
    }

    @include phones {
      left: 79.2%;
      bottom: 0;
    }
  }
}